*, *::before, *::after{
    box-sizing: border-box;
}

:root {
    --brand-light: #fab005;
    --brand-dark: #ffd8a8;
    --brand: var(--brand-light);

    --text-1-light: #343a40;
    --text-1-dark: #dee2e6;
    --text-2-light: #495057;
    --text-2-dark: #adb5bd;
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);

    --surface-1-light: #f8f9fa;
    --surface-2-light: #f1f3f5;
    --surface-3-light: #e9ecef;
    --surface-4-light: #dee2e7;

    --surface-1-dark: #030507;
    --surface-2-dark: #0d0f12;
    --surface-3-dark: #16191d;
    --surface-4-dark: #212529;

    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --brand: var(--brand-dark);
        --text-1: var(--text-1-dark);
        --text-2: var(--text-2-dark);

        --surface-1: var(--surface-1-dark);
        --surface-2: var(--surface-2-dark);
        --surface-3: var(--surface-3-dark);
        --surface-4: var(--surface-4-dark);
    }
}

html{
    scroll-behavior: smooth;
    width: 100%;
}

/* General */

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    font-style: normal;
    counter-reset: footnote;
    margin: 0;
    padding: 0;
    background-color: var(--surface-1);
    color: var(--text-1);
    word-spacing: normal;
    font-size: small;
}

.wrapper{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

#smallTable {
    caption-side: bottom;
}

caption {
    background-color: var(--surface-4);
    padding-top: 0.25em;
    padding-bottom: 0.5em;
}

hr {
    margin-top: 3em;
    margin-bottom: 2em;
}

.beschriftung {
    background-color: var(--surface-4);   
}

time {
    color: var(--text-2-dark);
    font-size: smaller;
}

/* Header */
header {
    background-color: var(--surface-2);
    text-align: center;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 5rem;
    margin-bottom: 1em;
    grid-area: header;
    width: 100%;
}
.header-logo-container {
    display: flex;
    align-items: center;
    gap: 1em;
}
.header-title {
    font-size: 1.35em;
    font-weight: bold;
}
.header-logo {
    height: 2em;
    width: 2em;
    display: none;
}
/* Header Navigation*/
.nav-toggle-label {
    font-size: 1.5em;
}
.nav-items {
    display: none;
    position: absolute;
    left: 0;
    background: var(--surface-2);
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}
.nav-items ul {
    font-size: 1.5em;
    list-style: none;
    padding: 0em;
}
.nav-items li {
    width: 100%;
    margin: auto
}
.nav-items li i {
    width: 2em;
}
.nav-items a {
    text-decoration: none;
    color: var(--text-1);
}
.nav-items a:hover {
    color: var(--brand);
}

#nav-toggle:checked ~ .nav-items {
    display: list-item;
}

/* Main page navigation*/
.nav-side{
    grid-area: nav;
    width: max-content;
    padding: 1em;
    border-radius: 1em;
    font-size: 1.5em;
    gap: 1em;
    padding: 1em;
    background: var(--surface-2);
    justify-content: center;
    outline: medium solid var(--surface-3);
}
.nav-side a{
    color: var(--text-1);
    text-decoration: none;
}
.nav-link{
    color: var(--text-1);;
}
.nav-side a:hover{
    color: var(--brand);
}
#side-list{
    position: sticky;
    top: 3em;
}
#side-list li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#side-list li a{
    text-align: right;
}
.nav-side{
    display: none;
}

main {
    margin: 0 auto;
    max-width: 40em;
    width: 95%;
    font-size: 1.25em;
    grid-area: main;
}
#smallTable{
    display: none;
}
#info + ul > li{
    list-style-type: "\1F44D";
    margin: 0;
    padding: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: var(--brand);
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 3em;
    background-color: var(--surface-1);
    color: var(--text-1);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -1em;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* image overlay */
.imgContainer {
    position: relative;
}
  
.pingPongImage {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;

}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #004aba;
}
  
.imgContainer:hover .overlay {
    opacity: 1;
}
  
.imageText {
    color: var(--text-1);
    font-size: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

table, td {
    border: 1px solid var(--text-2);
    padding: 0.5em;
    border-collapse: collapse;
    text-align: center;
    caption-side: top;
}
#section-matchups{
    cursor: zoom-in;
}

/* Treppe */
.treppe, .treppe td{
    border: 0;
    border-collapse: collapse;
    display: none;
}
.treppe td{
    height: 1em;
    padding: 0.5em;
}
.treppen-stufe {
    background: var(--brand);
    color: var(--surface-1);
    width: 33%;
}
.treppe{
    table-layout: fixed;
}

footer {
    background-color: var(--surface-4);
    color: var(--text-2);
    text-align: center;
    padding: 2em;
    grid-area: footer;
}
abbr {
    cursor: help;
}
#imperssumParagraph ~ p {
    margin-top: 0;
    opacity: 0.7;
}

@media (min-width: 300px) {

    body{
        font-size: 1em;
    }
    .header-logo {
        display: block;
    }
    /* Header Navigation*/
    .nav-toggle-label {
        font-size: 2em;
    }
    .nav-items {
        display: none;
        position: absolute;
        top: 5rem;
        left: 0;
        background: var(--surface-2);
        width: 100%;
        justify-content: center;
        margin-top: 0em;
    }
    .nav-items ul {
        font-size: 1.3em;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: right;
        padding: 0.11em;
        gap: 0.5em;
    }
    .nav-items li {
        width: 100%;
        display: flex;
        margin: auto
    }
    .nav-items li i {
        width: 2em;
    }
    
    .nav-items a {
        text-decoration: none;
        color: var(--text-1);
    }
    .nav-items a:hover {
        color: var(--brand);
    }
    
    #nav-toggle:checked ~ .nav-items {
        display: flex;
    }

    /* Main page navigation*/
    .nav-side{
        display: none;
    }

    .treppe, .treppe td{
        display: table-cell;
        padding-left: 1em;
        padding-right: 1em;
    }
    /* Raise Gold medal 1em higher */
    .treppe > tbody > tr > td + td > i {
        margin-bottom: 1em;
    }
}
@media (min-width: 460px) {
    #smallTable{
        display: table;
    }
}
@media (min-width: 600px) {
    body{
        font-size: 1.25em;
    }
    .nav-toggle-label {
        display: none;
    }
    .nav-items {
        position: unset;
        display: flex;
    }
    .nav-items ul {
        flex-direction: row;
        justify-content: right;
        gap: 1em;
        font-size: 1em;
        padding: 0;
        padding-left: 1em;
    }
    .nav-items li {
        width: auto;
        display: block;
    }
}

@media (min-width: 800px) {
    .wrapper{
        gap:0;
        grid-template-areas: 
            "header header"
            "nav main"
            "footer footer";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr auto;
    }
    .nav-side{
        display: block;
        font-size: 1em;
    }
}

@media (min-width: 900px) {
    .wrapper{
        gap:1;
    }
    .nav-side{
        display: block;
        font-size: 1.5em;
    }
}
/* Helper */
.center {
    text-align: center;
}

/* Footnotes */
[role="doc-endnotes"] {
    counter-reset: footnote;
}

[role="doc-endnotes"] ol {
    list-style-type: none;
    counter-reset: footnote;
    padding: 0;
}

[role="doc-endnotes"] li {
    counter-increment: footnote;
    margin-bottom: 0.5em;
}

[role="doc-endnotes"] li::before {
    content: counter(footnote) ". ";
}

[role="doc-noteref"] {
    counter-increment: footnote;
    text-decoration: none;
}

[role="doc-noteref"]::before {
    content: "[" counter(footnote) "] ";
    vertical-align: super;
    font-size: small;
}

/* Thumb */
.thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5em;
}
.thumb img {
    width: 100vw;
    height: auto;
    max-height: 10em;
    object-fit: contain;
    position: relative;
    margin-top: 3em;
}
.thumb-caption {
    font-size: 0.8em;
    text-align: center;
}
@media (min-width: 480px) {
    .thumb {
        float: right;
        margin: 0 0 1em 1em;
        max-width: 15em;
        background: var(--surface-2);
        border: 1px solid var(--text-2);
        /* padding: 0.5em; */
    }
    .thumb img {
        width: 100%;
        height: auto;
    }
    .thumb-right {
        float: right;
        clear: right;
        margin: 0 0 .5em .5em;
    }
    .thumb-left {
        float: left;
        clear: left;
        margin: 0 .5em .5em 0;
    }

}


