/* Turniertabellen Unterseiten */

.turniertabelle-wrapper{
    display: grid;
    grid-template-areas: 
        "b b"
        "t l"; 
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 1em;
    padding-left: 3em;
    padding-bottom: 3em;
}

.turniertabelle-wrapper > section {
    grid-area: b;
}

.turniertabelle-wrapper > article {
    grid-area: t;
}

.turniertabelle-wrapper > aside {
    grid-area: l;
    padding-left: 1.5em;
}

.turniertabelle {
    width: 100%;
}

input {
    width: 2.5em;
    height: 1.2em;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 0.3em;
}

button {
    width: 2em;
    height: 1.5em;
    font-size: 0.8em;
}

.turniertabelle p{
    margin: 0;
    padding: 0;
}

.treppe td {
    padding: 0.5em;
    word-wrap: break-word;
    text-align: center;
}

.treppe, .treppe td{
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
}