---
import "../styles/normalize.css"
import "../styles/styles.css"
import BaseLayout from "../layouts/BaseLayout.astro";
import FootnoteLink from "../components/FootnoteLink.astro";
import Footnote from "../components/Footnote.astro";
import FloatingImage from "../components/FloatingImage.astro";
const title = "Tischtennisverein DHBW"
const description = "All thinks important about Tischtennis an der DHBW"
---
<BaseLayout title={title} description={description}>
<main>
    <article id="article-turnierImJuli">
        <section>
            <h3 class="center">Willkommen zum spannenden Tischtennisturnier der <dfn id="dfn-dhbw"><abbr title="Dualen Hochschule Baden-Württemberg">DHBW</abbr></dfn>!</h3>
            <FloatingImage src="/img/table-tennis.png" alt="Example picture">
                Example Picture<FootnoteLink id="01"/>
            </FloatingImage>
            Wir freuen uns, euch zu einem energiegeladenen Tag voller Wettkämpfe, sportlicher Rivalität und Spaß am
            Tischtennis einzuladen.<br>
            Unser Turnier richtet sich speziell an die talentierten und enthusiastischen Studenten der
            <abbr title="Duale Hochschule Baden-Württemberg">DHBW</abbr>, die ihre
            Fähigkeiten am Tischtennistisch unter Beweis stellen möchten.<br>
            Wir haben das perfekte Umfeld geschaffen, um eure Fähigkeiten als Tischtennisspieler zu entfalten.<br/>
            Ganz gleich, ob ihr bereits erfahrene Spieler seid oder einfach nur Lust auf eine neue Herausforderung habt,
            das Turnier bietet euch eine großartige Gelegenheit, euch mit euren Kommilitonen zu messen und neue
            Freundschaften zu knüpfen.
            Das Turnierformat besteht aus einer Kombination aus Einzel- und Doppelwettbewerben. Ihr könnt euch entweder
            allein anmelden und im Einzelwettbewerb antreten oder euch mit einem Partner zusammentun und im Doppel antreten.
            <br/>

            Es wird sowohl eine Damen- als auch eine Herrenkategorie geben, um sicherzustellen, dass jeder die
            Möglichkeit hat, in seiner Kategorie anzutreten.
            Unser Ziel ist es, ein faires und wettbewerbsfähiges Umfeld zu schaffen, in dem jeder Teilnehmer sein
            Bestes geben kann.<br/>
            Die Spiele werden nach den offiziellen Regeln des Tischtennissports ausgetragen, um eine professionelle
            Atmosphäre zu gewährleisten. Unsere erfahrenen Schiedsrichter werden dafür sorgen, dass alle Spiele fair und
            gerecht ablaufen.
            Neben den spannenden Wettkämpfen bieten wir auch Unterhaltung und Verpflegung für alle Teilnehmer und Zuschauer.<br/>
            Eine Snackbar wird zur Verfügung stehen, um euch mit Snacks und Getränken zu versorgen, damit ihr eure
            Energiereserven während des Turniers aufrechterhalten könnt.
            Also schnappt euch eure Schläger, meldet euch an und seid bereit für ein Tischtennisturnier, das euch mit
            spannenden Matches und unvergesslichen Momenten begeistern wird! Zeigt euer Talent, kämpft um den Sieg und
            genießt einen Tag voller sportlicher Leidenschaft beim <abbr title="Duale Hochschule Baden-Württemberg">DHBW</abbr> Tischtennisturnier.
            <p><b>Bitte beachten sie die <a href="https://www.tischtennis.de/dttb/regeln-satzung/offizielle-regeln.html">Regeln</a></b></p>
            <p class="center"><em>Wir freuen uns darauf, euch alle dort zu sehen und gemeinsam eine fantastische Veranstaltung zu erleben!</em></p>

            <h3 id="info">Was mitbringen?</h3>
            <ul>
                <li>Tischtennisschläger</li>
                <li>Tischtennisbälle</li>
                <li>Sportkleidung</li>
                <li>Handtuch</li>
                <li>Wasserflasche und Snacks</li>
                <li>Bandagen oder Schutzmittel</li>
                <li>Spielplan und Regelbuch</li>
                <li>Geld und Ausweis</li>
            </ul>
        </section>
        <hr/>
        <section id="section-registrierung">
            <h2 class="center">Registrierung</h2>
            <ol>
                <li>An der Information anmelden</li>
                <li>Gebühren bezahlen</li>
                <li>Armband nicht vergessen</li>
            </ol>
        </section>
    </article>
    <hr/>

    <section id="section-matchups">
        <h2>Matchups</h2><br/>
        <table>
            <tbody>
                <tr>
                    <td>Person 1</td>
                    <td rowspan="2">Viertelfinale 1<br/><time datetime="2023-05-30 18:00">30.05, 18:00</time><br/>Sieger Viertelfinale 1</td>
                    <td rowspan="4">Halbfinale 1<br/><time datetime="2023-06-05 18:00">05.06, 18:00</time><br/>Sieger Halbfinale 1</td>
                    <td rowspan="8">Finale<br/><time datetime="2023-06-09 18:00">9.06.2023, 18:00</time><br/>Sieger</td>
                </tr>
                <tr><td>Person 2</td></tr>
                <tr>
                    <td>Person 3</td>
                    <td rowspan="2">Viertelfinale 2<br/><time datetime="2023-05-31 18:00">31.05, 18:00</time><br/>Sieger Viertelfinale 2</td>
                </tr>
                <tr><td>Person 4</td></tr>
                <tr>
                    <td>Person 5</td>
                    <td rowspan="2">Viertelfinale 3<br/><time datetime="2023-06-01 18:00">01.06, 18:00</time><br/>Sieger Viertelfinale 3</td>
                    <td rowspan="4">Halbfinale 2<br/><time datetime="2023-06-06 18:00">06.06.2023, 18:00</time><br/>Sieger Halbfinale 2</td>
                </tr>
                <tr><td>Person 6</td></tr>
                <tr>
                    <td>Person 7</td>
                    <td rowspan="2">Viertelfinale 4<br/><time datetime="2023-06-02 18:00">02.06, 18:00</time><br/>Sieger Viertelfinale 4</td>
                </tr>
                <tr><td>Person 8</td></tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <a href="/table">Tabelle Vergrösern</a>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <a href="/table2">Tabelle mit 16 Teilnehmern</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </section>
    <section id="section-siegertreppchen">
        <h2>Siegertreppchen</h2>
        <table class="treppe">
            <tr>
                <td></td>
                <td rowspan="3" class="treppen-stufe">Platz 1</td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2" class="treppen-stufe">Platz 2</td>
                <td></td>
            </tr>
            <tr>
                <td class="treppen-stufe">Platz 3</td>
            </tr>
        </table>
    </section>
</main>
<ol slot="footnotes">
    <Footnote id="01">
        Pixabay. (2023). Tischtennis, Ball, Schläger. Abgerufen am 29.05.2023 von
        <a href="https://pixabay.com/de/illustrations/tischtennis-ball-schl%c3%a4ger-sport-7415980/">
            pixabay.com
        </a>
    </Footnote>
</ol>
</BaseLayout>