---
import "../styles/styles.css"
---
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matchup Tabelle</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        main {
            max-width: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<main>
    <h2>Matchup Tabelle</h2>
    <table>
        <tbody>
        <tr>
            <td>Person 1</td>
            <td rowspan="2">Sieger Person1 & Person2</td>
            <td rowspan="4">Viertelfinale</td>
            <td rowspan="8">Halbfinale</td>
            <td rowspan="16">Finale</td>
        </tr>
        <tr><td>Person 2</td></tr>
        <tr>
            <td>Person 3</td>
            <td rowspan="2">Sieger Person3 & Person4</td>
        </tr>
        <tr><td>Person 4</td></tr>
        <tr>
            <td>Person 5</td>
            <td rowspan="2">Sieger Person5 & Person6</td>
            <td rowspan="4">Viertelfinale</td>
        </tr>
        <tr><td>Person 6</td></tr>
        <tr>
            <td>Person 7</td>
            <td rowspan="2">Sieger Person7 & Person8</td>
        </tr>
        <tr><td>Person 8</td></tr>
        <tr>
            <td>Person 9</td>
            <td rowspan="2">Sieger Person9 & Person10</td>
            <td rowspan="4">Viertelfinale</td>
            <td rowspan="8">Halbfinale</td>
        </tr>
        <tr>
            <td>Person 10</td>
        </tr>
        <tr>
            <td>Person 11</td>
            <td rowspan="2">Sieger Person11 & Person12</td>
        </tr>
        <tr>
            <td>Person 12</td>
        </tr>
        <tr>
            <td>Person 13</td>
            <td rowspan="2">Sieger Person13 & Person14</td>
            <td rowspan="4">Viertelfinale</td>
        </tr>
        <tr>
            <td>Person 14</td>
        </tr>
        <tr>
            <td>Person 15</td>
            <td rowspan="2">Sieger Person15 & Person16</td>
        </tr>
        <tr>
            <td>Person 16</td>
        </tr>

        </tbody>
    </table>
    <a href="/index">Home</a><br>
    <a href="/index#section-matchups">Tabelle 8 Teilnehmern</a>
</main>
</body>
</html>