---

---
<header>
    <div class="header-logo-container">
        <img class="header-logo" src="https://placehold.co/64x64?text=Logo" alt="logo">
        <h2 class="header-title">Tischtennisverein DHBW</h2>
    </div>
    <nav>
        <input type="checkbox" id="nav-toggle" hidden>
        <label for="nav-toggle" class="nav-toggle-label">
            <i class="fas fa-bars"></i>
        </label>
        <div class="nav-items">
            <ul>
                <li><a class="nav-link" href="/#article-turnierImJuli"><i class="fa-solid fa-table-tennis-paddle-ball"></i> Turnier im Juli</a></li>
                <li><a class="nav-link" href="/#section-registrierung"><i class="fa-solid fa-id-card"></i>&nbsp;Registrierung</a></li>
                <li><a class="nav-link" href="/#section-matchups"><i class="fa-solid fa-table-cells"></i>&nbsp;Matchups</a></li>
                <li><a href="/table2" class="nav-link"><i class="fa-solid fa-table-cells"></i>&nbsp;Turnier mit 16 Teilnehmern</a></li>
                <li><a class="nav-link" href="/#section-siegertreppchen"><i class="fa-solid fa-ranking-star"></i>&nbsp;Sieger</a></li>
                <li><a class="nav-link" href="#impressum"><i class="fa-solid fa-section"></i>&nbsp;Impressum</a></li>
            </ul>
        </div>
    </nav>
</header>
